name: Compile Typst document

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Typst
        uses: typst-community/setup-typst@v3

      - name: Compile Typst
        run: |
          typst compile main.typ main.pdf

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: lecture-script
          path: main.pdf

