name: Build Typst PDF

on:
  push:
    branches:
      - main
    paths:
      - "**.typ"
      - "**.bib"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Typst
        uses: typst-community/setup-typst@v3

      - name: Compile Typst
        run: |
          typst compile main.typ main.pdf

      - name: Commit updated PDF
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add main.pdf
          git commit -m "Auto-build main.pdf" || echo "No changes to commit"
          git push

